
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1508407509164'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1508407509164#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1508407509164') format('woff'),
  url('../fonts/iconfont.ttf?t=1508407509164') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1508407509164#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-third"], 
[class*=" el-icon-third"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-third-other:before { content: "\e61a"; }

.el-icon-third-android:before { content: "\e669"; }

.el-icon-third-yun:before { content: "\e67b"; }

.el-icon-third-ios:before { content: "\e676"; }

.el-icon-third-sql:before { content: "\e634"; }

.el-icon-third-zhineng:before { content: "\e612"; }

.el-icon-third-develops:before { content: "\e63d"; }

.el-icon-third-qa:before { content: "\e633"; }

.el-icon-third-kaifa:before { content: "\e733"; }

.el-icon-third-frontend:before { content: "\e607"; }

.el-icon-third-backend:before { content: "\e67e"; }

