// iphone5
// @media screen and(min-width: 320px) {
//   html, body {
//     font-size: 90px !important;
//   }
// }

// iphone6
// @media screen and(min-width: 375px) {
//   html, body {
//     font-size: 100px !important;
//   }
// }

// iphone6 Plus
// @media screen and(min-width: 414px) {
//   html, body {
//     font-size: 110px !important;
//   }
// }