// 主题色
$theme: #054EEF;

$highlight: #72cccb;

$danger: #ec3b3b;
$money: #ef7207;
$light-text: #808080;
$lighter-text: #999;

// $background: #f4f8fb;
$background: #FFF;
$dark-background: #2c3039;
$blur-background: hsla(0, 0%, 0%, 0.25);
$white-background: #fff;

$border: #e2e2e2;

$blued6: #02a6d6;
$blue:#0190cf;
$grayf7: #f8f2f7;
$gray8f: #8f8f8f;

$orange: orange;
$red: red;
$green: #9dc98d;
$yellow: #fdd728;

//字体定义规范
$font-size-small-s: 1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-medium-x: 1.6rem;
$font-size-large: 1.8rem;
$font-size-large-x: 2.2rem;

$disabled: #ccc;
$font-family: 'Segoe UI', 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;

$md: 'max-width: 768px';
$sm: 'max-width: 532px';
$vsm: 'max-width: 414px';
